body {
  margin: 2%;
  background-color: #065c34;
  font-family: 'Courier New', Courier, monospace
}

.all-questions-table { 
  table-layout: auto;
  border: 2px solid black 
}


.all-questions-tabledata, .all-questions-tablehead { 
  border: 1px solid grey;
  padding: 5px;
  text-align: left;
  color: #e7fdf3
}

.all-questions-tablehead {
    background-color: #5c062e;
    font-weight: bold;
}

.all-questions-tablehead:hover {
  background-color: #000000;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

.all-questions-tabledata {
  background-color: #7c3757
}

.all-questions-tabledata:hover {
    background-color: #5c062e;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    transition: background-color 1000ms linear;
}

.all-questions-tablehead-sort-buttons {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.single-question-body {
  background-color: #7c3757;
  color: #e7fdf3;
  padding:20px;
}

.single-question-submit-button {
  color: #2a3131
}

.new-question-wtf{
    color: black
}


/* display.html */

#display-question-main {
    background-color: #7c3757;
    color:white;
    border: 1px solid grey;
    padding:20px;
}
#display-question-main:hover {
    background-color: #5c062e;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    transition: background-color 1000ms linear;
}

#display-question-title {
    background-color: #5c062e;
    margin-top: -5px;
    margin-bottom: 15px;
}

#display-question-image{
    max-width: 200px;
    max-height: 200px;
}

.display-question-data {
    width: 100%;
    height: 5%;
    padding: 50px;
    border: 1px solid grey;
    color:white;
    background-color: #5c062e;
}

#display-question-tag-container {
  background-color: #5c062e;
  width: 100%;
  border: 1px solid grey;
}



.display-question-tags{
  background-color: #7c3757;
  color:white;
  float: right;
  border: 2px solid grey;
}

.display-question-buttons {
    float:right;
    clear:right;
    padding: 2% 1%;
    display: block;
}

.display-question-comment-main {
  background-color: #7c3757;
  color:white;
  border: 1px solid grey;
  padding:20px;
}


.question-button {
    height: 25%;
}


.display-question-answer-main {
  background-color: #7c3757;
  color:white;
  padding: 20px;
  margin: 10px 30px 10px 30px;

}

.display-question-answer-main:hover {
    background-color: #5c062e;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    transition: background-color 1000ms linear;
}

.display-question-answer-buttons {
  margin-top: 8px;
  margin-left: -70px;
}

.display-question-bottom-buttons {
  position: fixed;
  bottom: 0;
  left: 30%;
  margin-left: -104.5px
}

#display-user-data {
  background-color: #7c3757;
  color: white;
  padding: 10px;
}