<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new answer - Q{{question_id}}</title>
</head>

<body>

    <h1>Add an answer</h1>
    <h2>{{ question_title }}</h2>
    <p>{{ question_msg }}</p><br>

    
    <form action="/question/{{question_id}}/new-answer" method="post" enctype="multipart/form-data">
        <textarea minlength=10 name="answer_message" style="resize:none" rows=5 cols=50 required></textarea><br>
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Add answer">        
    </form>
    <a href='/question/{{question_id}}' class = "btn btn-default">
      <i class="glyphicon glyphicon-list"></i><h5>Back to the question</h5>
    </a>

</body>
</html>