<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div class="col-md-8" id="display-question-main">
      <h2 id="display-question-title">{{ line[4] }}</h2>
      <p id="display-question-message">{{ line[5] }}</p>
      {% if line[6] %}
        <img src="/static/{{line[6]}}" id="display-question-image">
      {% endif %}
  
    <table class="display-question-data">
      <tr>
        <td>User: <a href="/user/{{line[7]}}" style="color:white">{{ question_user }}</a></td>
        <td> ID: {{ line[0] }}</td>
        <td> Submitted: {{ line[1] }}</td>
        <td> Viewed: {{ line[2] }}</td>
        <td> Vote: {{ line[3] }}</td>
      </tr>
    </table>

    <div id="display-question-tag-container">
     {% for tag in question_tags %}
      <div class="display-question-tags"> 
        <h8>{{ tag[1] }} </h8>
          <a href="{{ line[0] }}/tag/{{ tag[0] }}/delete">
          <i class="glyphicon glyphicon-trash"></i>
          </a>
      </div>
     {% endfor %}
    </div>
  </div>

  <div class="display-question-buttons col-md-2">
    </div>
      <a href='{{ line[0] }}/vote/vote-up' class='btn btn-default del-button'>
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </a>
    </div>
    <div>
      <a href='{{ line[0] }}/vote/vote-down' class='btn btn-default del-button'>
        <i class="glyphicon glyphicon-thumbs-down"></i>
      </a>
    </div>
    <div>
      <a href='{{ line[0] }}/new-comment' class='btn btn-default edit-button'>
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div>
      <form action="{{ line[0] }}/new-tag" method="GET">
        <button type="submit" class='btn btn-default del-button'>
          <i class="glyphicon glyphicon-tag"></i>
        </button>  
      </form>
    </div>
    <div>
      <a href='{{ line[0] }}/edit' class='btn btn-default edit-button'>
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
    </div>
    <div>
      <form action="{{ line[0] }}/del" method="POST">
        <button type="submit" class='btn btn-default del-button'>
          <i class="glyphicon glyphicon-trash"></i>
        </button>  
      </form>
    </div>
  </div>
  {% for comment in question_comments %}
  <div class="display-question-comment-main col-md-8">
    <table class="display-question-data">
      <tr>
        <td>User: <a href="/user/{{comment[6]}}" style="color:white">{{ user_dict[comment[6]] }} </a></td>
        <td> ID: {{ comment[0] }} </td>
        <td> Submitted: {{ comment[4] }} </td>
      </tr>
    </table>
    <h5> {{ comment[3] }} </h5>
  </div>
  <div class="comment-buttons col-md-4">
    <div>
      <form action="/comments/{{ comment[0] }}/del" method="POST">
        <button type="submit" class='btn btn-default del-button'>
          <i class="glyphicon glyphicon-trash"></i>
        </button>  
      </form>
    </div>
    <div>
      <form action="/comments/{{ comment[0] }}/edit" method="GET">
        <button type="submit" class='btn btn-default del-button'>
          <i class="glyphicon glyphicon-pencil"></i>
        </button>  
      </form>
    </div>
  </div>
  {% endfor %}

  {% for answer in answers %}
  <div class="answer-row col-md-8">
    <div class="display-question-answer-main">
      <table class="display-question-data">
        <tr>
          <td>User: <a href="/user/{{answer[7]}}" style="color:white">{{ user_dict[answer[7]] }} </a></td>
          <td> ID: {{ answer[0] }} </td>
          <td> Submitted: {{ answer[1] }} </td>
          <td> Vote: {{ answer[2] }} </td>
        </tr>
      </table>
      <h5> {{ answer[4] }} </h5>
       {% if answer[5] %}
        <img src="/static/{{answer[5]}}" style="max-width: 200px">
       {% endif %}
       {% if answer[6] %}
        <img id="accepted-answer" src="/static/images/check_mark.png">
       {% endif %}
    </div>
  </div>
  <div class="display-question-answer-buttons col-md-4">
    <div>
      <a href='{{ line[0] }}/{{ answer[0] }}/vote-up' class='btn btn-default del-button'>
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </a>
    </div>
    <div>
      <a href='{{ line[0] }}/{{ answer[0] }}/vote-down' class='btn btn-default del-button'>
        <i class="glyphicon glyphicon-thumbs-down"></i>
      </a>
    </div>
    <div>
      <a href='/answer/{{ answer[0] }}/new-comment' class='btn btn-default del-button'>
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div>
      <a href='../answer/{{answer[0]}}' class='btn btn-default edit-button'>
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>
    </div>
    <div>
      <a href='/answer/{{answer[0]}}/accept' class='btn btn-default edit-button'>
        <i class="glyphicon glyphicon-ok"></i>
      </a>
    </div>
    <div>
      <form action="{{ line[0] }}/{{ answer[0] }}/del" method="POST">
        <button type="submit" class='btn btn-default del-button'>
          <i class="glyphicon glyphicon-trash"></i>
        </button>  
      </form>
    </div>
  </div>
  


    {% for comments in answer_comments %}
      {% for comment in comments %}
        {% if comment[2] == answer[0] %}
        <div class="display-question-comment-main col-md-8">
          <table class="display-question-data">
            <tr>
              <td>User: <a href="/user/{{comment[6]}}" style="color:white">{{ user_dict[comment[6]] }} </a></td>
              <td> ID: {{ comment[0] }} </td>
              <td> Submitted: {{ comment[4] }} </td>
            </tr>
          </table>
          <h5> {{ comment[3] }} </h5>
        </div>
        <div class="comment-button col-md-4">
          <div>
            <form action="/comments/{{ comment[0] }}/del" method="POST">
              <button type="submit" class='btn btn-default del-button'>
                <i class="glyphicon glyphicon-trash"></i>
              </button>  
            </form>
          </div>
          <div> 
            <form action="/comments/{{ comment[0] }}/edit" method="GET">
              <button type="submit" class='btn btn-default del-button'>
                <i class="glyphicon glyphicon-pencil"></i>
              </button>  
            </form>
          </div>
        </div>
        {% endif %}
      {% endfor %}          
    {% endfor %}
  {% endfor %}

  <br>
  <div class="display-question-bottom-buttons">
    <a href='/list' class = "btn btn-default">
      <i class="glyphicon glyphicon-list"></i><h5>   Back to the list   </h5>
    </a>
    <a href='/question/{{question_id}}/new-answer' class = "btn btn-default">
      <i class="glyphicon glyphicon-upload"></i><h5>Submit a new answer</h5>
    </a>
        <a href='/question/{{question_id}}/new-comment' class = "btn btn-default">
      <i class="glyphicon glyphicon-upload"></i><h5>Submit a new comment</h5>
    </a>
  </div>
  
</body>
</html>