<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user_data[1] }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="display-user-data">
        <p id="display-user-name"> user name: {{ user_data[1] }} </p>
        <p id="display-user-registration"> registration time: {{ user_data[2] }} </p>
        <p id="display-user-reputation"> reputation: {{ user_data[3] }} </p>
    </div>
</body>
</html>