<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>Registration</title>
</head>

<body>
    <form action="/registration" method="post">
        <p><h5 style="color: white">Username:</h5><input type='text' name='user_name' minlength="10" required></p>
        <input class = "btn btn-default" type="submit" value="Register">        
    </form>
    <a href='/list' class = "btn btn-default">
      <i class="glyphicon glyphicon-th-list"></i><h5>View Full List</h5>
    </a>
    <a href='/' class = "btn btn-default">
      <i class="glyphicon glyphicon-repeat"></i><h5>Refresh Root</h5>
    </a>
    <a href='/newquestion' class = "btn btn-default">
      <i class="glyphicon glyphicon-question-sign"></i><h5>Ask a question</h5>
    </a>
    <a href='/registration' class = "btn btn-default">
      <i class="glyphicon glyphicon-user"></i><h5>Register Here</h5>
    </a>
    <a href='/list-users' class = "btn btn-default">
      <i class="glyphicon glyphicon-globe"></i><h5>List Users</h5>
    </a>
</body>
</html>
