<!doctype html>
<html>
  <head>
    <title> every asked question </title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
body { 
  margin: 2% 
  }
td, th { 
  border: 1px solid grey;
  padding: 5px;
  text-align: left
  }
table { 
  table-layout: auto;
  border: 2px solid black 
  }
  </style>
  <body>

    <table>
      {% for fieldname in fieldnames %}
        <th> {{ fieldname }} </th>
      {% endfor %}
      
      {% for line in data_set %}
        <tr>
          {% for item in line %}
            <td> {{ item }}</td>
          {% endfor %}
          <td>
            <a href='question/{{line[0]}}/edit' class='btn btn-default edit-button'>
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </td>
          <td>
            <a href='question/{{line[0]}}/del' class='btn btn-default del-button'>
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr> 
      {% endfor %}
    </table>

    <a href='/new-question' class = "btn btn-default">
      <p>Ask a question</p> <i class="glyphicon glyphicon-question-sign"></i>
    </a>
  
  </body>
</html>